*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/b70b092f-1760-4498-b462-b4ef19907ec7/82d16842-c3ea-4efe-a5db-9a33924d2173/IN-en-20211101-popsignuptwoweeks-perspective_alpha_website_small.jpg") no-repeat center center/cover;
}