*{
    margin: 0;
    padding: 0;
}
body{
    font-family: helvetica;
    background-color: #303030;
}
.white{
    color: #fff;
    text-decoration: none;
}
.red{
    color: #E50914;
}
.grey{
    color: #999;
}
.bg_grey{
    background-color: #303030;
}
.bg_black{
    background-color: #000;
}
.bg-red{
    background-color: #E50914;
}
.center{
    text-align: center;
}
.bg-fade{
    background-image: linear-gradient();
}

h1{
    margin: auto;
    text-align: center;
    font-size: 55px;
}
h2{
    margin: 20px 0;
    font-size: 25px;
    font-weight: 500;
}
h3{
    font-size: 20px;
    font-weight: 500;
}

.gap{
    height: 8px;
    background-color: transparent;
}

/* https://assets.nflxext.com/ffe/siteui/vlv3/b77751c7-0e02-4941-af39-30514ff6b3e2/d0f20efa-f2f3-49d4-92b2-b3b1f6312af5/IN-en-20211026-popsignuptwoweeks-perspective_alpha_website_large.jpg */
header{
    background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.95)), url(https://assets.nflxext.com/ffe/siteui/vlv3/b77751c7-0e02-4941-af39-30514ff6b3e2/d0f20efa-f2f3-49d4-92b2-b3b1f6312af5/IN-en-20211026-popsignuptwoweeks-perspective_alpha_website_large.jpg) no-repeat center center /cover;
    height: 750px;
    /* background-repeat: no-repeat;
    background-position: center; */
}
header h1{
    max-width: 600px;
    padding: 0 20px;
}
.email-title{
   padding: 150px 0;
}
/* head-bg-img{
    
} */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}
.logo img{
    height: 70px;
    margin-left: -20px;
    /* cursor: pointer; */
}
.right-nav{
    display: flex;
    width: 208px;
    justify-content: space-between;
    align-items: center;
}
.lang-selector{
    display: flex;
    align-items: center;
    color: #fff;
}
.lang-selector i{
    margin-right: -15px;
}
select{
    height: 34px;
    width: 105px;
    padding-left:25px ;
    margin-left: -7px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    -webkit-appearance:none;/* For hiding default pointer of drop-down on Chrome */
    -moz-appearance:none;
    /* background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='34' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>"); */
    background-repeat: no-repeat;
    background-position-x: 100%;
}

/* sign-in */
.sign-in{
    height: 34px;
    width: 84px;
    border-radius: 3px;
}
.sign-in div{
    padding: 6px 0;
}

/* .unlimited-movies-container{
    padding: 178px 0;
} */
.unlimited-movies{
    margin-top: 80px;
    padding: 75px 0;
}
.email-title-container{
    margin: 20px auto 0 auto;
}
.email-title-container button{
    font-size: 20px;
}
.emial-box{
    padding-left: 10px;
    height: 60px;
    width: 450px;
}
.get-strated{
    border: none;
    cursor: pointer;
    margin-left: -5px;
    height: 63px;
    width: 214px;
}

.enjoy-on-your-tv, .download-your-shows, .watch-everywhere, .create-profiles, .frequently-asked-questions, footer{
    padding: 50px 45px;
}
.enjoy-on-your-tv-container, .download-your-shows-container, .watch-everywhere-container, .create-profiles-container{
    /* background-color: turquoise; */
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .enjoy-on-your-tv-container  */
.left{
    padding-right: 48px;
    min-width: 50%;
    text-align: left;
    box-sizing: border-box;
}
.left h1, .right h1{
    text-align: left;
    padding: 0;
    margin: 0;
}
.right{
    text-align: left;
    min-width: 50%;
}
.right img, .left img{
    width: 100%;
}

.right-add-container{
    position: relative;
    z-index: 2;
}
.enjoy-on-your-tv-add{
    height: 54%;
    width: 73%;
    position: absolute;
    z-index: -1;
    top: 20%;
    left: 13%;
}
.enjoy-on-your-tv-add video, .watch-everywhere-add video{
    width: 100%;
    height: 100%;
    /* top: 20%; */
}
.watch-everywhere-add{
    position: absolute;
    top: 2%;
    left: 19%;
    height: 59%;
    width: 63%;
    z-index: -1;
}
/* .download-your-shows-container{ 

}*/
.download-your-shows-container .img-container{
    position: relative;
}
.download-your-shows-container .img-container .stranger-things{
    height: 95px;
    width: 70%;
    /* background-color: turquoise; */
    position: absolute;
    top: 60%;
    left: 10%;
    display: inline-flex;
    padding: 0 15px;
    align-items: center;
    border: 2px solid #303030;
    border-radius: 10px;
}
.stranger-things img{
    height: 75px;
    width: auto;
}
.stranger-things-info{
    padding: 0 15px;
}
.stranger-things-info h3{
    font-size: 19px;
}
.stranger-things-info p{
    font-size: 15px;
}



.accordion{
    padding: 50px 0;
    margin: auto;
    width: 75%;
    font-size: 25px;
}
.accordion-item{
    margin-bottom: 10px;
}
.accordion-item-header{
    line-height: 70px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #000;
}
.accordion-item-header::after{
    content: "\002B";
    font-size: 40px;
    position: absolute;
    right: 20px;
    transition: 0.3s ease-in-out;
}
.accordion-item-header.active::after{
    transform: rotate(45deg);
}
.accordion-item-body{
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}
.accordion-item-body-content{
    padding: 20px;
}
.accordion-item-header.active + .accordion-item-body{
    max-height: 600px;
}


.footer-container{
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
}
.footer-top{
    padding: 0;
    margin: 0 0 30px 0;
    font-size: 18px;
}
.footer-links{
    width: 100%;
}
.footer-link-item{
    margin-right: 0;
    font-size: 14px;
    display: inline-block;
    box-sizing: border-box;
    width: 25%;
    min-width: 100px;
    margin-bottom: 15px;
    /* padding-right: 12px; */
    vertical-align: top;
}
.footer-link-item a{
    color: #999;
    text-decoration: none;
}
.footer-bottom .lang-selector{
    display: flex;
    align-items: center;
    color: #fff;
    height: 100px;
}
footer .lang-selector div{
    position: relative;
}
footer .lang-selector div i{
    position: absolute;
    color: #999;
    left: 8px;
}

footer .lang-selector select{
    height: 60px;
    width: 135px;
    padding-left:45px ;
    margin-left: -7px;
    background-color: transparent;
    color: #999;
    border: 1px solid #999;
    border-radius: 4px;
    background-image: url("data:image/svg+xml;utf8,<svg fill='grey' height='60' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    /* background-position-x: 100%; */
}
.footer-bottom p{
    font-size: 16px;
}